.playing-container{
   text-align: center;
}

.text{
    margin: 10px auto;
    padding-bottom: 20px;
}

.player-card{
    border: 1px solid gray;
    margin: 10px auto;
    padding: 10px 40px;
    width: 200px;
    background-color: rgb(206, 203, 198);
    border-radius: 10px;
}

.btn-input-container{
    display: flex;
    justify-content: center;
    padding: 10px 10px;  
}

#btn-add{
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
#btn-add:hover{
    transform: scale(1.02);
}

#btn-remove{
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
}
#btn-remove:hover{
    transform: scale(1.02);
}

#input-name{
    width: 290px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
    cursor: pointer;
}